<!DOCTYPE html>
<html lang="en">
<head>
{{>head}}
</head>
<body>
    {{>navigation}}
    
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimagefigure">
                            <img src="images/404.jpg" alt="about page" class="img-fluid">
                        </figure>
                        
                        <p>Welcome To Sanjay Kalsariya World </p>
                        <h1>{{errDoct}}</h1>
                        <a href="/" target="_sanjay"><button>Go Back</button></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>