<!DOCTYPE html>
<html lang="en">

<head>
{{>head}}
</head>

<body>
{{>navigation}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/bg2.jpg" alt="about page" class="img-fluid align-item-center" title="sanjay kalsariya" >
                        </figure>
                    </div>

                    <!-- left side div --> 
                    <div class="col-md-6 col-12 main_header_left">
                        <h1>Welcome to weather App</h1>
                        <p>I Am A <span class="text_clr">MERN Stack Developer</span> And Freelancer</p>
                        <a href="/" target="_sanjay"><button>About ME</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>